# Example Environment Variables

# Database Configuration
DATABASE_URL=postgres://user:password@localhost:5432/mydatabase

# NextAuth Configuration
NEXTAUTH_URL=https://yourdomain.com
NEXTAUTH_SECRET=your_nextauth_secret

# AWS S3 Configuration
AWS_ACCESS_KEY_ID=your_access_key_id
AWS_SECRET_ACCESS_KEY=your_secret_access_key
AWS_REGION=your_aws_region
AWS_BUCKET_NAME=your_bucket_name

# Stripe Configuration
STRIPE_SECRET_KEY=your_stripe_secret_key
